@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: lobster;
}


body {
  background: cornsilk;
  background-image: url("./webpack-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-position-y: calc(100vh / 3);
}

@font-face {
  font-family: lobster;
  src: url(./fonts/Lobster-Regular.ttf);
}
